@model IEnumerable<Frontend.Models.CarritoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Carrito</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarritoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioUnitario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CarritoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioUnitario)
                </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.CarritoId }) |
                    @Html.ActionLink("Details", "Details", new {  id=item.CarritoId  }) |
                    @Html.ActionLink("Delete", "Delete", new {  id=item.CarritoId  })
            </td>
        </tr>
}
    </tbody>
</table>
