@model Frontend.Models.ReservacionViewModel

@{
    ViewData["Title"] = "Delete";
}


<section class="book_section layout_padding">

    <div class="container">
        <h1>Delete</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    <h3>Esta seguro que desea eliminar la siguiente reserva?</h3>
                    <div>
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.ReservacionId)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.ReservacionId)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.FechaReservacion)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.FechaReservacion)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.MesaReservacion)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.MesaReservacion)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.DetalleReservacion)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.DetalleReservacion)
                            </dd>
                        </dl>

                        <form asp-action="Delete">
                            @Html.HiddenFor(Model => Model.ReservacionId)

                            <input type="submit" value="Delete" class="btn btn-danger" /> |
                            <a asp-action="Index">Volver</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
