@model IEnumerable<Frontend.Models.ReservacionViewModel>

@{
    ViewData["Title"] = "Reservacion";
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReservacionId)
            </th>
            <th>
                Fecha y Hora
            </th>
            <th>
                # de Mesa
            </th>
            <th>
                Personas
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservacionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaReservacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MesaReservacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DetalleReservacion)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ReservacionId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ReservacionId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ReservacionId })
                </td>
            </tr>
        }
    </tbody>
</table>