@model Frontend.Models.PedidoViewModel

@{
    ViewData["Title"] = "Delete";
}
<section>
<div class="container">
    <h1>Delete</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="form_container">
                <h3>Esta seguro que desea eliminar la siguiente reserva?</h3>
                <div>
                    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PedidoId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PedidoId)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPedido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaPedido)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MesaPedido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MesaPedido)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoPedido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstadoPedido)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductoId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductoId)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="PedidoId" />
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</section>