@model IEnumerable<Frontend.Models.ProductoViewModel>

@{
    ViewData["Title"] = "Index";

    }

<body>

    <div class="hero_area">
        <div class="bg-box">
            <img src="images/hero-bg.jpg" alt="">
        </div>
    <!-- slider section -->
    <section class="slider_section ">
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-7 col-lg-6 ">
                                <div class="detail-box">
                                    <h1>
                                        Cuchara Urbana
                                    </h1>
                                    <p>

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end slider section -->
    </div>
    <section class="offer_section layout_padding-bottom">
        <div class="offer_container">
            <div class="container ">
            </div>
        </div>
    </section>
    <!-- food section -->

    <section class="food_section layout_padding-bottom">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Nuestro Menu
                </h2>
            </div>
            
            <div class="row grid">
                @foreach (var item in Model)
                {
                    <div class="col-sm-6 col-lg-4 all burger">
                        <div class="box">
                            <div>
                                <div class="img-box">
                                    @if (item.Nombre.ToString() == "Extra papas fritas")
                                    {
                                        <img src="images/f5.png" alt="">
                                    }else {
                                    <img src="images/f2.png" alt="">
                                    }
                                </div>
                                <div class="detail-box">
                                    @Html.HiddenFor(Model=>item.ProductoId)
                                    <h5>
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </h5>
                                    <p>
                                        @Html.DisplayFor(modelItem => item.Descripcion)
                                    </p>
                                    <div class="options">
                                        <h6>
                                            @Html.DisplayFor(modelItem => item.Precio)
                                        </h6>
                                        <form asp-controller="Producto" asp-action="AgregarAlCarrito" method="post">
                                            <input type="hidden" name="productoId" value="@item.ProductoId" />
                                            <button type="submit" class="fa fa-shopping-cart btn btn-warning">
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

    <!-- end food section -->
    <!-- about section -->

    <section class="about_section layout_padding">
        <div class="container  ">

            <div class="row">
                <div class="col-md-6 ">
                    <div class="img-box">
                        <img src="images/about-img.png" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                Cuchara Urbana
                            </h2>
                        </div>
                        <p>
                            En Cuchara Urbana, cada hamburguesa es una expresión de creatividad culinaria, 
                            utilizando ingredientes frescos y locales para crear combinaciones irresistibles. 
                            Desde las clásicas hamburguesas con queso hasta opciones más atrevidas con sabores innovadores, 
                            cada platillo es preparado con pasión y dedicación.
                        </p>
                        <a href="">
                            Ver más
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end about section -->
    
   </body>