@model IEnumerable<Frontend.Models.FacturaViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Facturas</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FacturaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFactura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PagoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetodoPagoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoPagoId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FacturaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFactura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PagoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetodoPagoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPagoId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.FacturaId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.FacturaId }) |
                    @Html.ActionLink("Delete", "Delete", new {  id=item.FacturaId  })
            </td>
        </tr>
}
    </tbody>
</table>
